@import "bootstrap";



body {
  background-image:url ("background.png");
}


h1 {
  color:#F1F1F1;
}
h2 {
  color:#F1F1F1;
}
p {
  color:#F1F1F1;
}



#logo img {
  width: 15%;
}
#logo {
  text-align:center;
}
