@import "bootstrap";



body {
  background-image:url("background.png");
}

.wrapper {
  margin-right:20px;
  margin-left:20px;
}

.col-md-3:nth-child(4n+1) {
  clear:left;
}

.header-wrap {
  margin-top:50px;
  padding-bottom:70px;
}

.navbar-default {
  background:none;
  border:none;
}

.nav > li {
  display:inline-block;
}
.navbar-nav > li {
  float:none;
}
.navbar-nav {
  float:none;
  text-align: center;
}
.nav > li > a {
  padding: 16px 40px;
  color:#ffffff !important;
}



h1 {
  color:#F1F1F1;
}
h2 {
  color:#F1F1F1;
}
p {
  color:#F1F1F1;
}



.navbar-header img {
  width: 15%;
}




/*--------------------
Media Queries
---------------------*/

@media (max-width:991px) {
.navbar-header img{
  width: 15%;
}
.nav > li > a {
  font-size:11px;
}
.nav {
  padding:0px;
}
.navbar-brand {
  float:none;
  padding:0px;
  
}
}

@media (max-width:768px) {
  .nav > li{
  display:block
}
.navbar-header img{
  width: 25%;
}
}